<!DOCTYPE html>
<html>
  <head>
    <title>List of Presidents</title>
    <style>
      .presidents-list {
        font-family:'Exo 2', sans-serif;
        font-size: 2em;
        color: #213939;
        background-color: #f5f5f5;
        padding: 20px;
      }
      .presidents-list ul {
        list-style: none;
        padding: 0;
      }
      .presidents-list li {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="presidents-list">
      <ul>
        {% for president in presidents %}
          <li>
            <img src="{{ president.image_url }}" alt="A photo of {{ president.name }}" width="150">
            name: <a href='/vote/{{ president.short_name }}'>{{ president.name }}</a> | score: {{ president.score }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
