{% extends "base_president.html" %}
{% block content %}
    <div id="img-container">
      <img src="{{ image_url }}" alt="A photo of {{ name }}"> 
    </div>

    <div id="subtext-container">
      <h2>{{ name }}</h2>

      <p>{{ office }}: {{ years_in_office }}</p>
      <p>{{ quote }}</p>

      <h3>Score:</h3>
    </div>

    <div id="score-container">
      <div class="button-inner">
        <h4 class="score">🔥 {{ hot }}</p>
        <h4 class="score">🤮 {{ not }}</p>
      </div>
    </div>

    <div id="next-container">
      <div class="next-inner">
    	<a class="next-btn" href='/'>👉</a>
      </div>
    </div>

{% endblock %}
