{% extends "base_president.html" %}
{% block content %}
    <div id="img-container">
      <img src="{{ image_url }}" alt="A photo of {{ name }}"> 
    </div>

    <div id="subtext-container">
      <h2>{{ name }}</h2>

      {% if not > hot %}
      <h3>Notus</h3>
      {% else %}
      <h3>Hotus</h3>
      {% endif %}

    </div>

    <div id="button-container">
      <div id="button-inner">
	      <a class="btn" href='/'>{{ hot }}</a>
	      <a class="btn" href='/'>⏭️</a>
	      <a class="btn" href='/'>{{ not }}</a>
      </div>
    </div>
{% endblock %}
