{% extends "base_president.html" %}
{% block content %}
    <div id="img-container">
      <img src="{{ image_url }}" alt="A photo of {{ name }}"> 
    </div>

    <div id="subtext-container">
      <h2>{{ name }}</h2>
      <p>{{ office }}: {{ years_in_office }}</p>
      <p>{{ quote }}</p>
      <h3>Hotus or Notus?</h3>
    </div>

    <div id="button-container">
      <div id="button-inner">
        <a class="btn" href='/vote/{{ short_name }}/hot'>🔥</a>
        <a class="btn" href='/vote/{{ short_name }}/not'>🤮</a>
      </div>
    </div>
{% endblock %}
